<footer>
  <div class="footer-grid container">
    <div class="logo">
      <a href="https://mammothgeospatial.com" target="_blank"  title="Mammoth Geospatial">
        {%- include graphics/logos/mammoth_long.svg -%}
      </a>
    </div>
    <div class="logo">
      <a href="https://grantboxer.github.io/" target="_blank" title="GIS Pro">
        <img src="{{site.baseurl}}/assets/images/logos/grant_logo.jpg" alt="People attending a workshop"/>
      </a>
    </div>
    <div class="logo">
      <a href="https://gispro.com.au/" target="_blank"  title="Grant Boxer">
        {%- include graphics/logos/gispro_logo.svg -%}
      </a>
    </div>
  </div>
</footer>