<footer>
  <!-- <div class="footer-header">Consortium partners</div> -->
  <div class="footer-grid container">
    <div class="org">
      <div class="org-name"><a href="https://gispro.com.au/" target="_blank">GIS Pro</a></div>
      <div class="org-contact"><a href="mailto:info@gispro.com.au">info@gispro.com.au</a></div>
    </div>
    <div class="org">
      <div class="org-name"><a href="https://mammothgeospatial.com" target="_blank">Mammoth Geospatial</a></div>
      <div class="org-contact"><a href="mailto:info@mammothgeospatial.com">info@mammothgeospatial.com</a></div>
    </div>
    <div class="org">
      <div class="org-name"><a href="https://grantboxer.github.io/" target="_blank">Grant Boxer</a></div>
      <div class="org-contact">boxerg[at]iinet[dot]net[dot]au</div>
    </div>
  </div>
</footer>