$blue: #0F5E7B;
$teal: #cfffee;
$yellow: #f0d144;
$coral: #FF6257;
$light-grey: #F9F9F9;
$dark-grey: #8d8d8d;
$black: #090808;

$primary-font: "Montserrat", sans-serif;
$title-font: "Lato", sans-serif;