<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>{{ page.title }} | Q4MEx</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">

    
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <!-- favicons -->
    <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/assets/images/favicon.svg">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicon.png">

    <!-- analytics -->
    <!-- add analytics script here -->
    
  </head>
  <body id="{{page.id}}">
    {%- include header.html -%}
    <div>
        {{ content }}
    </div>
    {%- include footer.html -%}

    <script>
      function showMenu() {
        var nav = document.getElementById('nav_overlay')
        if (nav.className === "active") 
          nav.classList.remove("active")
        else
          nav.classList.add("active")
    
        var menu = document.getElementById('nav_icon')
        if (menu.className === "active") 
          menu.classList.remove("active")
        else
          menu.classList.add("active")
      }
    </script>

  </body>
</html>

